Install Python Windows
https://www.youtube.com/watch?v=OSmaWPSgvTQ
    
Install Python Mac
https://www.youtube.com/watch?v=HSAm6s10G7g

Install Jupyter (pip install jupyterlab)
https://jupyter.org/install

## 1. Hello World


One of the simplest (and most important!) tasks you can ask a computer to do is to print a message.

In [2]:
print('hello binar wave-6')

hello binar wave-6

In [6]:
print('Hello world')

Hello world

In [7]:
a = 'Hello World Peserta'
#print(a)

In [8]:
b = 'Hello World Siswa'
#print(a)

In [9]:
print(a)

Hello World Peserta

In [ ]:
print(f'{a} Gilang')

In [ ]:
print('{} Gilang'.format(b))

In [ ]:
a = 'Junio'
b = 'DS'
c = 'Binar'

In [ ]:
print(f'mas {a} adalah siswa {b} di bootcamp {c}')

In [ ]:
print('Mas {} adalah siswa {} di bootcamp {}'.format(a,b,c))

## 2. Arithmetic


We can also print the value of some arithmetic operation (such as addition, subtraction, multiplication, or division).

In general, Python follows the PEMDAS rule when deciding the order of operations.

https://www.mathsisfun.com/operation-order-pemdas.html

In [ ]:
type(1 + 2)

In [ ]:
type(9 - 3)

In [ ]:
type(1 * 2)

In [ ]:
type(9 / 3)

In [ ]:
2 ** 3

In [ ]:
(1 * 2 + 3 + 4)

## 3. Comments
We use comments to annotate what code is doing.

They help other people to understand your code, and they can also be helpful if you haven't looked at your own code in a while.
So far, the code that we have written is very short, but annotations become more important when you have written a lot of code.

In [ ]:
# Multiply 3 by 2
print(3 * 2)

## 4. Variables

So far, you have used code to make a calculation and print the result, and the result isn't saved anywhere. However, you can imagine that you might want to save the result to work with it later. For this, you'll need to use variables.

## a. Creating variables
The next code cell creates a variable named test_var and assigns it the value that we get when we add 5 to 4.

We then print the value that is assigned to the variable, which is 9.

In [ ]:
# Create a variable called test_var and give it a value of 4+5
test_var = 4 + 5

# Print the value of test_var
print(test_var)

In [ ]:
a = 1
b = 2
c = a + b
print(c)

In general, to work with a variable, you need to begin by selecting the name you want to use. Variable names are ideally short and descriptive. They also need to satisfy several requirements:

* They can't have spaces (e.g., test var is not allowed)
* They can only include letters, numbers, and underscores (e.g., test_var! is not allowed)
* They have to start with a letter or underscore (e.g., 1_var is not allowed)

## b. Using multiple variables
It's common for code to use multiple variables. This is especially useful when we have to do a long calculation with multiple inputs.

In the next code cell, we calculate the number of seconds in four years. This calculation uses five inputs.

In [ ]:
# Create variables
num_years = 5
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

## 5. Functions

In this lesson, you will learn how to organize your code with functions. A function is a block of code designed to perform a specific task. As you'll see, functions will let you do roughly the same calculation multiple times without duplicating any code

## a. Simple Functions

Every function is composed of two pieces: a header and body.

In [ ]:
# Define the function
def add_three(input_var):
    output_var = input_var + 3
    return output_var

In [ ]:
def tambah_tiga(a,b):
    return a + b + 3

In [ ]:
tambah_tiga(10, 20)

In [ ]:
# Run the function with 10 as input
new_number = add_three(10)

In [ ]:
# Check that the value is 13, as expected
print(new_number)

## b. Complex example

Say you are helping a friend to calculate their weekly paycheck after taxes.

* They're in a 12% tax bracket (in other words, 12% of their salary is taken for taxes, and they only take home 88%), and
* They're paid hourly, at a rate of $15/hour.

In [ ]:
def get_pay(num_hours):
    # Pre-tax pay, based on receiving $15/hour
    pay_pretax = num_hours * 15
    # After-tax pay, based on being in 12% tax bracket
    pay_aftertax = pay_pretax * (1 - .12)
    return pay_aftertax

In [ ]:
# Calculate pay based on working 40 hours
pay_fulltime = get_pay(40)
print(pay_fulltime)

In [ ]:
def pajak(a):
    pajak1 = a * 5
    pajak2 = pajak1 + 10
    return pajak2

In [ ]:
pajak(10)

In [ ]:
a = 10
pajak1 = a * 5
pajak1

In [ ]:
pajak2 = pajak1 + 10
pajak2

## c. Functions with multiple arguments

We do this with the get_pay_with_more_inputs() function below, which calculates a weekly paycheck based on three arguments:

* num_hours - number of hours worked in one week
* hourly_wage - the hourly wage (in $/hour)
* tax_bracket - percentage of your salary that is removed for taxes

In [ ]:
def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - tax_bracket)
    return pay_aftertax

In [ ]:
higher_pay_aftertax = get_pay_with_more_inputs(40, 24, .22)
print(higher_pay_aftertax)

## c. Functions with no arguments

Note that it's possible to define function with no arguments, and that don't have a return statement. The print_hello() function in the code cell below is an example.

In [ ]:
# Define the function with no arguments and with no return
def print_hello():
    print("Hello, you!")
    print("Good morning!")

In [ ]:
# Call the function
print_hello()

In [ ]:
def print_hai():
    print('hai hai')

In [ ]:
print_hai()

## 6. Data Types

Whenever you create a variable in Python, it has a value with a corresponding data type. There are many different data types, such as integers, floats, booleans, and strings, all of which we'll cover in this lesson. (This is just a small subset of the available data types -- there are also dictionaries, sets, lists, tuples, and much more.)

## a. Integers

Integers are numbers without any fractional part and can be positive (1, 2, 3, ...), negative (-1, -2, -3, ...), or zero (0).

In [ ]:
x = 14
print(x)

In [ ]:
type(x)

## b. Floats

Floats are numbers with fractional parts. They can have many numbers after decimal.

In [ ]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
type(nearly_pi)

In [ ]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

In [ ]:
1*1

One function that is particularly useful for fractions is the round() function. It lets you round a number to a specified number of decimal places.

In [ ]:
# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

In [ ]:
a = 3.1234567890
round(a,3)

Whenever you write an number with a decimal point, Python recognizes it as a float data type.

For instance, 1. (or 1.0, 1.00, etc) will be recognized as a float. This is the case, even though these numbers technically have no fractional part!

In [ ]:
y_float = 1.
print(y_float)
print(type(y_float))

In [ ]:
float(1 * 1)

## c. Booleans

Floats are numbers with fractional parts. They can have many numbers after decimal.

In [ ]:
z_one = True
print(z_one)
type(z_one)

In [ ]:
z_two = False
print(z_two)
print(type(z_two))

In [ ]:
z_three = (1 < 2)
print(z_three)
type(z_three)

In [ ]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

In [ ]:
z_five = not z_four
print(z_five)
print(type(z_five))

In [ ]:
a = True
print(a)

In [ ]:
b = not a
print(b)

## d. Strings

The string data type is a collection of characters (like alphabet letters, punctuation, numerical digits, or symbols) contained in quotation marks. Strings are commonly used to represent text.

In [ ]:
w = "Hello, Python!"
print(w)
type(w)

You can get the length of a string with len(). "Hello, Python!" has length 14, because it has 14 characters, including the space, comma, and exclamation mark. Note that the quotation marks are not included when calculating the length.

In [ ]:
len(w)

One special type of string is the empty string, which has length zero.

In [ ]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

If you put a number in quotation marks, it has a string data type.

In [ ]:
my_number = "1.12321"
print(my_number)
type(my_number)

If we have a string that is convertible to a float, we can use float().

This won't always work! For instance, we can convert "10.43430" and "3" to floats, but we cannot convert "Hello, Python!" to a float.

In [ ]:
a = float(my_number)
str(a)

In [ ]:
a = '123'
float(a)

In [ ]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

Just like you can add two numbers (floats or integers), you can also add two strings. It results in a longer string that combines the two original strings by concatenating them.

In [ ]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

In [ ]:
a = 'abc'
b = str(1)
c = a + b
c

Note that it's not possible to do subtraction or division with two strings. You also can't multiply two strings, but you can multiply a string by an integer. This again results in a string that's just the original string concatenated with itself a specified number of times.

In [ ]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

In [ ]:
a = 'abc'
b = a * 3
b

In [ ]:
a = 1
type(a)

In [ ]:
a = float(a)
type(a)

In [ ]:
a = str(a)
type(a)

In [ ]:
a = 1
b = 2

In [ ]:
jumlah = a + b

In [ ]:
jumlah

In [ ]:
a = 1
if a == 1:
    print(a)

In [ ]:
3**2

a**b

In [ ]:
def pangkat(a,b):
    hasil = a**b
    return hasil

In [ ]:
pangkat(3,2)