## Lists, Tuples, Dict

## 1. Intro Lists

Lists in Python represent ordered sequences of values. Here is an example of how to create them:

In [8]:
a = []

In [9]:
type(a)

list

In [10]:
len(a)

0

In [1]:
primes = [2, 3, 5, 7]
primes

[2, 3, 5, 7]

In [40]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [39]:
nama = ['lintang','gilang']
nama

['lintang', 'gilang']

In [236]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
hands

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [237]:
legs = [
    ['J', 'Q', 'k'], 
    ['2', '2', '2'], 
    ['6', 'A', 'K']
]

In [238]:
if hands == legs:
    print('sama')
else:
    print('beda')

beda

In [23]:
a = [ 
    [['a','b'],2,3,4,5] , 
    [3,4]
]

In [25]:
len(a[0][0])

2

In [4]:
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]
hands

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [5]:
my_favourite_things = [32, 'raindrops on roses', help]
# (Yes, Python's help function is *definitely* one of my favourite things)

## 2. Indexing

You can access individual list elements with square brackets.

Which planet is closest to the sun? Python uses zero-based indexing, so the first element has index 0.

In [26]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [32]:
len(planets) - 1

7

In [36]:
planets[8]

IndexError: list index out of range

In [7]:
planets[1]

'Venus'

In [33]:
# unique

In [34]:
planets[-1]

'Neptune'

In [42]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [41]:
planets[-7]

'Venus'

## 3. Slicing

What are the first three planets? We can answer this question using slicing:

In [46]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [45]:
planets[0:3] # --> urutan 1,2,3

['Mercury', 'Venus', 'Earth']

In [47]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [12]:
planets[3:] # --> urutan ke -4 sampain end

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [92]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [95]:
planets[1], planets[-1]

('Venus', 'Neptune')

In [97]:
# All the planets except the first and last
planets[1:]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [96]:
planets[:-1]

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [14]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

In [81]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [90]:
planets[0:6]

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']

In [91]:
planets[0:6:2]

['Mercury', 'Earth', 'Jupiter']

## 4. Changing lists

Lists are "mutable", meaning they can be modified "in place". One way to modify a list is to assign to an index or slice expression.

For example, let's say we want to rename Mars:

In [98]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [99]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [101]:
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [102]:
# That was silly. Let's give them back their old names
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

In [109]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [110]:
planets[:3] = ['1', '2','3','4']

In [111]:
planets

['1', '2', '3', '4', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

## 5. List functions

Python has several useful functions for working with lists.

## a. function ```len``` gives the length of a list:

In [18]:
# How many planets are there?
len(planets)

8

## b. function ```sorted``` returns a sorted version of a list:

In [119]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [120]:
# The planets sorted in alphabetical order

planets = sorted(planets)

In [121]:
planets

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [123]:
planets = sorted(planets, reverse=False)
planets

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

## c. function ```sum```, ```max``` , ```min```

In [124]:
primes = [2, 3, 5, 7]
print(sum(primes))
print(max(primes))
print(min(primes))

17
7
2

In [127]:
min(primes)

2

## d. function ```list.append```, ```list.pop```

In [139]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [136]:
# Pluto is a planet darn it!
planets.append('Pluto')
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [140]:
type(planets)

list

In [141]:
planets.pop()
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

## e. Searching lists

In [142]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [148]:
planets.index('Earth')

2

Oh, that's right...

To avoid unpleasant surprises like this, we can use the in operator to determine whether a list contains a particular value:

In [149]:
# Is Earth a planet?
"Earth" in planets

True

In [150]:
# Is Calbefraques a planet?
"Plotu" in planets

False

In [151]:
def cek_nama_planet():
    a = input('Masukan nama planet : ')
    if a in planets:
        print('{} adalah planet'.format(a))
    else :
        print('{} bukan planet'.format(a))

In [153]:
cek_nama_planet()

Masukan nama planet : Earth
Earth adalah planet

## 6. Tuples

Tuples are almost exactly the same as lists. They differ in just two ways.

* The syntax for creating them uses parentheses instead of square brackets
* They cannot be modified (they are immutable).

In [257]:
l = [1, 2, 3]

In [259]:
l[0] = 0
l

[0, 2, 3]

In [260]:
t = (1, 2, 3)

In [262]:
t[0] = 0

TypeError: 'tuple' object does not support item assignment

In [255]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [248]:
l.insert(8, "new")

In [249]:
l

[1, 2, 3, 4, 5, 'new']

In [190]:
type(t), type(l)

(tuple, list)

In [155]:
t = 1, 2, 3 # equivalent to above
t

(1, 2, 3)

In [171]:
l

[0, 2, 3]

In [170]:
l[0] = 0

In [172]:
t

(1, 2, 3)

In [174]:
t[0] = 0

TypeError: 'tuple' object does not support item assignment

In [157]:
#t[0] = 100

In [178]:
t =(1,2,3) 
z=(4,)
t+=z

t

(1, 2, 3, 4)

In [187]:
t =(1,2,3) 
z=(4,)
t+=z


a = list(t)

a[2] = 5 
t =tuple(a)

In [188]:
t

(1, 2, 5, 4)

In [184]:
import os

dir_list = os.listdir('D:\\Python\\Binar Python\\test')

for i in dir_list:
    print(i) ##--> program

1.txt
2.txt
3.txt

In [185]:
dir_list

['1.txt', '2.txt', '3.txt']

## 6. Dictionaries

Dictionaries are a built-in Python data structure for mapping keys to values.

In [194]:
numbers = {
        'one':[1,2], 
        'two':2, 
        'three':3
}
numbers

{'one': [1, 2], 'two': 2, 'three': 3}

In [207]:
numbers = {
        'one':[1,2], 
        'two':2, 
        'three':3
}
numbers

{'one': [1, 2], 'two': 2, 'three': 3}

In [208]:
type(numbers)

dict

In this case 'one', 'two', and 'three' are the keys, and 1, 2 and 3 are their corresponding values.

Values are accessed via square bracket syntax similar to indexing into lists and strings.

In [223]:
numbers

{'one': [1, 2], 'two': 2, 'three': 3, 'eleven': [11, 12, 13]}

In [226]:
numbers['three']

3

We can use the same syntax to add another key, value pair Or to change the value associated with an existing key

In [213]:
numbers['eleven'] = [11 , 12, 13]
numbers

{'one': [1, 2], 'two': 2, 'three': 3, 'eleven': [11, 12, 13]}

In [215]:
numbers['one'] = [1, 2]
numbers

{'one': [1, 2], 'two': 2, 'three': 3, 'eleven': [11, 12, 13]}

In [263]:
l = [1,2,3]

In [264]:
l[0]

1

In [286]:
numbers = {
        'one':'ini adalah nilai dari pk one', 
        'two':'ini adalah nilai dari pk two', 
        'three':'ini adalah nilai dari pk three'
}
numbers

{'one': 'ini adalah nilai dari pk one',
 'two': 'ini adalah nilai dari pk two',
 'three': 'ini adalah nilai dari pk three'}

In [287]:
numbers.pop('three')

'ini adalah nilai dari pk three'

In [288]:
numbers

{'one': 'ini adalah nilai dari pk one', 'two': 'ini adalah nilai dari pk two'}

In [ ]:
#Start

Python has dictionary comprehensions with a syntax similar to the list comprehensions we saw in the previous tutorial.

In [289]:
planet_to_initial = {
    'Mercury': 'M',
     'Venus': 'V',
     'Earth': 'E',
     'Mars': 'M',
     'Jupiter': 'J',
     'Saturn': 'S',
     'Uranus': 'U',
     'Neptune': 'N'}

In [290]:
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [291]:
'Saturn' in planet_to_initial

True

In [292]:
'Betelgeuse' in planet_to_initial

False

In [293]:
cars = {'Brand': 
        ['Brio','Jazz','HRV','CRV','Civic','Mobilio','BRV','City'],
        'Price': [148,252,300,467,536,205,251,355]
        }

cars

{'Brand': ['Brio', 'Jazz', 'HRV', 'CRV', 'Civic', 'Mobilio', 'BRV', 'City'],
 'Price': [148, 252, 300, 467, 536, 205, 251, 355]}

In [39]:
cars

{'Brand': ['Brio', 'Jazz', 'HRV', 'CRV', 'Civic', 'Mobilio', 'BRV', 'City'],
 'Price': [148, 252, 300, 467, 536, 205, 251, 355]}

In [40]:
cars['Brand']

['Brio', 'Jazz', 'HRV', 'CRV', 'Civic', 'Mobilio', 'BRV', 'City']

In [41]:
cars['Brand'][1]

'Jazz'

In [305]:
import pandas as pd

cars = {'Brand': 
        ['Brio','Jazz','HRV','CRV','Civic','Mobilio','BRV','City'],
        'Price': [148,252,300,467,536,205,251,355]
        }

df = pd.DataFrame.from_dict(cars)

In [299]:
df

     Brand  Price
0     Brio    148
1     Jazz    252
2      HRV    300
3      CRV    467
4    Civic    536
5  Mobilio    205
6      BRV    251
7     City    355

In [302]:
numbers = {
        'one':1, 
        'two':2, 
        'three':3,
        'dict' : {
                    '1':['satu','dua'], 
                    '2':'dua', 
                    '3':'tiga'
                }
}

numbers

{'one': 1,
 'two': 2,
 'three': 3,
 'dict': {'1': ['satu', 'dua'], '2': 'dua', '3': 'tiga'}}

In [303]:
df = pd.DataFrame.from_dict(numbers)
df

   one  two  three         dict
1    1    2      3  [satu, dua]
2    1    2      3          dua
3    1    2      3         tiga

In [311]:
numbers = {
        'one':1, 
        'two':2, 
        'three':3
}
numbers['three_'] = numbers['three']
numbers.pop('three')

3

In [313]:
numbers['hallo'] = numbers.pop('one')

In [314]:
numbers

{'two': 2, 'three_': 3, 'hallo': 1}